<h1>Update</h1>
<h2>
  <%= form_for(@pet) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :age %>
    <%= f.number_field :age %>
    <%= f.label :species %>
    <%= f.text_field :species %>
    <%= f.label :breed %>
    <%= f.text_field :breed %>
    <%= f.label :photo, as: :file %>
    <%= f.submit %>
  <% end %>
</h2>
