<h1>Update</h1>
<h2>
  <%= simple_form_for(@pet) do |f| %>
    <%= f.input :name %>
    <%= f.input :age %>
    <%= f.input :species %>
    <%= f.input :breed %>
    <%= f.input :description %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit %>
  <% end %>
</h2>
