<h1>Update</h1>
<h2>
  <%= simple_form_for(@pet) do |f| %>
    <%= f.input :name %>
    <%= f.input :age %>
    <%= f.input :species %>
    <%= f.input :breed %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
  <% end %>
</h2>
