<div class="container">
  <div class="row justify-content-center">
    <div class="col-11">
      <div class = "cards">
        <% @pets.each do |pet| %>
          <div class = "card" >
            <a  href="<%= pet_path(pet)%>">
              <div>
                <h2><%= pet.name %></h2>
                <h2><%= link_to 'Show', pet %></h2>
              </div>
              <% if pet.photo.attached? %>
                <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path pet.photo.key %>')">
              <% else %>
                <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('')">

              <% end %>

              </div>
              <div class = "card-description">
                <h2><%= pet.name %></h2>
              </div>
            </a>
          </div>
        <% end %>
      </div>
      <div>
        <% if policy(Pet).create? %>
          <%= link_to "New pet", new_pet_path %>
        <% end %>
      </div>
    </div>
  </div>
</div>
