
<div class="row justify-content-md-center">
  <div class="col col-md-6 col-lg-6">
    <div class="container-form-ext">
      <div class="row justify-content-md-center">
        <div class="col col-md-8 col-lg-10">
          <div class="container-form-int">
            <%= simple_form_for [@pet] do |f|   %>
              <%= f.input :name , label: 'Name of the pet'%>
              <%= f.input :age , label: 'Age of the pet'%>
              <%= f.input :species , label: 'Species of the pet'%>
              <%= f.input :breed , label: 'breed of the pet'%>
              <%= f.input :photo, as: :file %>
              <%= f.button :submit, "Submit", class: "btn-pink"  %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
