<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <%= link_to "Add Pet", new_pet_path(@list), class:"btn btn-flat", style:"float:right; margin-top:20px" %>

        <div class="container">
          <h2><%= @pet.name %></h2>
          <p>Is a <%= @pet.breed %> <%= @pet.species %> <%= @pet.age %> years old </p>
        </div>
    </div>
  </div>
</div>
