<div class="row justify-content-md-center">
  <div class="col col-md-6 col-lg-6">
    <div class="container-form-ext">
      <div class="row justify-content-md-center">
        <div class="col col-md-8 col-lg-10">
          <div class="container-form-int">
            <%= simple_form_for [@user] do |f|   %>
              <%= f.input :first_name , label: 'Your first name'%>
              <%= f.input :last_name , label: 'Your last name'%>
              <%= f.input :photo, as: :file %>
              <%= f.button :submit, "Submit", class: "btn-pink"  %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
