
<div class="container">
              <div class="row justify-content-center">
              <h1>My Reservations</h1>
                <div class="col">
                  <h3 style = "text-align:center">Received reservations</h3>
                  <div class = "cards-reservation">
                    <% @user.received_reservations.each do |reservation| %>
                      <div class = card >
                        <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path(reservation.pet.photo.key)%>)"></div>
                        <div class = "card-description">
                          <h2><%= reservation.pet.name %></h2>
                          <p>Rented from <%= reservation.start_date %> - <%= reservation.end_date%> by <%= reservation.user.first_name%> <%= reservation.user.last_name%></p>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
                <div class="col">
                  <h3 style = "text-align:center">Sent reservations</h3>
                  <div class = "cards-reservation">
                    <% @user.sent_reservations.each do |reservation| %>
                      <div class = card >
                        <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path(reservation.pet.photo.key)%>)"></div>
                        <div class = "card-description">
                          <h2><%= reservation.pet.name %></h2>
                          <p>Rented from <%= reservation.start_date %> - <%= reservation.end_date%> by <%= reservation.user.first_name%> <%= reservation.user.last_name%></p>

                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
