<section class="tabs-container">
   <label for="tab1"> Profile </label>
   <label for="tab2"> Pets I'm borrowing </label>
   <label for="tab3"> Borrow request for my pets </label>
</section>

<input name="tab" id="tab1" type="radio" <%= "checked" if params["tab"].blank?  %>/>
<section class="tab-content">
  <div class="user-banner">
  <% if @user.photo.key.nil?%>
  <%= cl_image_tag ("cat-icon_w4ssbq"),
  width: 150, height: 150, style: "border-radius: 50%" %>
  <% else%>
  <%= cl_image_tag @user.photo.key,
  width: 150, height: 150, crop: :thumb, gravity: :face, zoom: 0.7, radius: :max %>
  <% end%>
  <h1><%= @user.first_name %>'s Profile Page</h1>
  <%= link_to "Add a new pet", new_pet_path, class: "btn btn-info" %>
  <%= link_to "Update your profile", edit_user_path(@user), class: "btn btn-warning" %>
  <%= link_to "Delete your profile", user_path(@user), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure you want to delete your account?" } %>
</div>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col">
        <h2 style="text-align: center">Your pets</h2>
          <div class = "cards">
            <% @user.pets.each do |pet| %>
              <a href="<%= pet_path(pet)%>">
                <div class = "card card-index" style = "height: 350px" >
                  <% if pet.photos.attached? %>
                    <div class="card-image" style="background-image: url('<%= cl_image_path pet.photos[0].key %>')"></div>
                  <% else %>
                    <div class="card-image" style="background-image: url('')"></div>
                  <% end %>
                  <div class = "card-description" >
                    <h2><%= pet.name %></h2>
                    <p>Breed: <%= pet.breed %></p>
                    <p>Age: <%= pet.age %></p>
                  </div>
                </div>
              </a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>


<input name="tab" id="tab2" type="radio" <%= "checked" if params["tab"] == "new-pet-requests" %> />
<section class="tab-content">
<div class=container>
  <div class="row justify-content-center">
    <div class="col">
      <h3 class="reservation-titles">Pending</h3>
        <div class = "cards-reservation">
        <% @user.sent_reservations.each do |reservation| %>
          <%if reservation.status == 'pending'%>
            <div class="card-product">
              <%=cl_image_tag(reservation.pet.photos[0].key)%>
                <div class="card-product-infos">
                <h2><%= reservation.pet.name %></h2>
                <p>Waiting for owner response</p>
              </div>
            </div>
          <% end %>
        <% end %>
        </div>
    </div>
    <div class="col">
      <h3 class="reservation-titles">Finalised</h3>
      <div class = "cards-reservation">
        <% @user.sent_reservations.each do |reservation| %>
          <%unless reservation.status == 'pending'%>
            <div class="card-product">
              <%=cl_image_tag(reservation.pet.photos[0].key)%>
              <div class="card-product-infos">
                <h2><%= reservation.pet.name %></h2>
                <p>Status <%=reservation.status %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
</section>
<input name="tab" id="tab3" type="radio" <%= "checked" if params["tab"] == "borrow-requests" %>/>
<section class="tab-content">
<div class=container>
  <div class="row justify-content-center">
    <div class="col">
      <h3 class="reservation-titles">Pending</h3>
      <div class = "cards-reservation">
        <% @user.received_reservations.each do |reservation| %>
          <%if reservation.status == 'pending'%>
            <div class ="card-product">
              <%=cl_image_tag(reservation.pet.photos[0].key)%>
              <div class="card-product-infos">
                <h2><%= reservation.pet.name %></h2>
                <p><%= reservation.user.first_name%> <%= reservation.user.last_name%> wants to be a petmate from</p>
                <p><%= reservation.start_date %> - <%= reservation.end_date%></p>
                  <div class="d-flex button-div justify-content-end align-items-end card-product-buttons">
                    <%= link_to 'Accept', accept_pet_reservation_path(reservation.pet.id,reservation.id), method: :patch, class: 'btn btn-flat-blue reservation-button' %>
                    <%= link_to 'Decline', reject_pet_reservation_path(reservation.pet.id,reservation.id), method: :patch, class: 'btn btn-flat-red reservation-button' %>
                  </div>
              </div>
            </div>
          <% end %>
        <% end %>
        </div>
    </div>

    <div class="col">
      <h3 class="reservation-titles">Resolved</h3>
      <div class = "cards-reservation">
        <% @user.received_reservations.each do |reservation| %>
          <%unless reservation.status == 'pending'%>
            <div class="card-product">
            <%=cl_image_tag(reservation.pet.photos[0].key)%>
            <div class="card-product-infos">
                <h2><%= reservation.pet.name %></h2>
                <p>Status: <%=reservation.status %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

  </div>
</div>
</section>
