<div class="row justify-content-md-center">
  <div class="col col-md-6 col-lg-6">
    <div class="row justify-content-md-center">
      <div class="col col-md-6 col-lg-6">
        <div class = "card" style = "height: 300px" >
              <% if @pet.photos.attached? %>
                <div class="card-image" style="background-image: url('<%= cl_image_path pet.photos[0].key %>')"></div>
              <% else %>
                <div class="card-image" style="background-image: url('cat-icon.png')"></div>
              <% end %>
              <div class = "card-description" >
                <h2><%= @pet.name %></h2>
              </div>
      </div>
    </div>
        </div>
      <div class="container-form-ext">
        <div class="row justify-content-md-center">
          <div class="col col-md-8 col-lg-10">
            <div class="container-form-int">
              <%= simple_form_for [@pet, @reservation] do |f| %>
                <%= f.input :start_date, as: :date, html5: true %>
                <%= f.input :end_date, as: :date, html5: true %>
                <%= f.submit %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
